body{
  width:300px;
  line-height: 200%;
}
p {
  transition: color .4s;
  color: #265C83;
  font-weight: bold;
  margin-top: 0px;
}
p:hover   { color: #7FDBFF; }

.link { text-decoration: none; }
img{
  float: left;
  margin: 0 8px 0 0;
  width:84px;
  height:47px;
}
div{
  height:50px;
  overflow: hidden;
}
#text{
  overflow: visible;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

