body{
  width:300px;
  line-height: 200%;
}
#text p {
  transition: color .4s;
  color: #265C83;
  font-weight: bold;
  margin-top: 0px;
}
#text p:hover   { color: #7FDBFF; }

.link { text-decoration: none; }
#text img{
  float: left;
  margin: 0 8px 0 0;
  width:84px;
  height:47px;
}
#text div{
  height:50px;
  overflow: hidden;
}
#text{
  overflow: visible;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
.scrollbar::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar
{    
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #ddd;
}
#spacer{
  height: 90px;
}
#prev img{
  transform: scaleX(-1);
}
#player-background{
  background: #fff;
  position:fixed;
  top: 0px;
  width:100%;
  height: 90px;
}
#player{
  position:fixed;
  width: 100%;
  z-index:10;
}
#player img{
  width:20px;
  height:20px; 
  z-index:10;
} 