body{
  width:300px;
  line-height: 200%;
}
a {
  display:block;
  transition: color .4s;
  color: #265C83;
  font-weight: bold;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }
